qwindowsvistastyle.h
.ninja_deps
.ninja_log

# Prerequisites
*.d

*.user
*.json
*.stash
*.qrc
resources/
release/
debug/
build-LogiTectNonQT-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/
build-LogiTectNonQT-Desktop_Qt_5_15_1_MinGW_32_bit-MinSizeRel/
*.Debug
*.Release

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app